# -------------------------------
# Python Cache & Bytecode
# -------------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------------
# Virtual Environments
# -------------------------------
.venv/
venv/
env/

# -------------------------------
# IDE / Editor Settings
# -------------------------------

# PyCharm / IntelliJ
.idea/

# VS Code
.vscode/

# -------------------------------
# OS System Files
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Logs
# -------------------------------
*.log

# -------------------------------
# Build / Distribution folders
# -------------------------------
build/
dist/
*.egg-info/
.eggs/

# -------------------------------
# Python Packaging
# -------------------------------
*.egg
pip-wheel-metadata/

# -------------------------------
# Unit Test / Coverage
# -------------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/

# -------------------------------
# MyPy & Pyright
# -------------------------------
.mypy_cache/
.pytype/
pyrightconfig.json

# -------------------------------
# Jupyter
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# Local Config Files
# -------------------------------
*.env
*.local
